<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
    <style>
        a { 
            background-color: #007bff; 
            color: white; 
            text-decoration: none; 
            border-radius: 5px; 
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Clinica da Yngrid</h1>

    <a href="{% url 'criar_consultas' %}">Criar uma consulta</a>
    <a href="{% url 'listar_medicos' %}">Listar Médicos</a>
</body>
</html>